nav{
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: xx-large;
  text-align: center;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 77px;
  padding: 20px;
  box-shadow: 10px 10px blueviolet;
}
body{
  background-image: url(./slouma.jpg)
}
nav a{
  margin-left: 50px;
  border-radius: 10px;
}
a:hover {
  background-color: rgb(213, 216, 227);
}
main {
  margin-top: 150px;
}
.informations {
  background-color: white;
  width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.informations:hover{
  background-color:rgb(18, 182, 219);
}
.informations, img, h1, h2, p {
  margin-bottom: 50px;
}
.video {
  text-align: center;
  margin: 100px;
}
#container {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 800px;
  margin: 50px auto 50px auto;
  margin-bottom: 50px;
}
.information {
  font-size: larger;
  text-align: center;
  margin: bottom 50px;
}
#container:hover {
  background-color:rgb(76, 76, 242);
}
footer {
  background-color:white;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 10px 10px blueviolet;
}